@import "variables";
@import "headings";

.header {
	background-color: #D3F1F0;
	width: 100%;
	p {
		padding-left: 70%;
		padding-top: 25px;
	}
	img {
		margin: 15px;
		padding-bottom: 10px;
	}
}

.nav__list {
	margin-top: 125px;
	li {
		background-color: #6DCCD1;
		border-radius: 20%;
		padding: 5px;
		margin: 10px;
		}
}

.nav {
	background-color: #F7CAD2;
	width: 100%;
	height: 20px;
}

.main {
	background-color: #6DCCD1;
	width: 100%;
}

ul {
	text-align: center;
}

li {
	list-style: none;
	display: inline;
	padding-right: 30px;

}

.list__images {
	margin: 20px;
}

.list__images li img {
	padding-bottom: 10px;
}

.bird {
	float: left;
	display: inline;
	padding-right: 8px;
	padding-top: 10px;
}

.centercontent {
	p {
		font-family: Verdana;
		font-size: 20px;
		padding-top: 10px;
	}
}

.tree {
	margin: 75px;
	margin-left: 270px;

}

.content {
	background-color: white;
	border-radius: 2em 2em 0 0;
}

.social__images {
	width: 20%;
	height: 20%;
	border-bottom: 10px;
	margin: 0 2.5%
}

.dot img {
	background-repeat: repeat-x;
}

.bottombackground {
	background-color: #6DCCD1;
}

.footer {
	width: 100%;
	height: 100px;
	background-color: #6DCCD1;
	li {
		list-style: none;
		border-right: 1px solid black;
		display: inline;
		padding: 0 30px;
		&:last-child {
			border-right: none;
		}
	}
}

.social
{
	height:100px;
	// border-radius: 0 0 20% 20%;
}

.borderRadius{
	border-radius: 0 0 20px 20px;
	background-color: white;
}

.babyblue {
	background-color: #6DCCD1;
}

.whitebackground {
	background-color: white;
	border-radius: 0 0 20px 20px;
}
@media screen and (max-width: 768px) {
	.social__images {
		margin-left: 8.25%;
		margin-right: 8.25%;
	}
}
@media screen and (max-width: 480px) {
	.social__images {
		margin-left: 12.5%;
		margin-right: 12.5%;
	}
}