doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title My Title
    link(rel="stylesheet" href="/vendor/uikit/css/uikit.min.css")
    link(rel="stylesheet" href="css/main.css")
    script(src="jquery.js")
    script(src="uikit.min.js")

  body
    // [if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]

    .container
      .uk-grid
        .uk-width-1-1.header
          p Sign In | Sign Up
      
        .uk-width-1-1.header
          .uk-grid
            .uk-width-1-5
            .uk-width-medium-3-5
              .uk-grid.content
                .uk-width-small-1-2
                  //img(src="/img/savings-multiplied-logo-WEB.png")//
                  img(src="/img/brandon_logo.png")
                .uk-width-small-1-2
                  ul.nav__list
                    li About
                    li Contact
                    li Blog
                    li Press
            .uk-width-1-5

      .uk-grid-preserve
       .uk-width-1-1.nav
          ul 
            li Buy
            li Sell
            li How it Works
            li Links
            li Community
            li
              input(type="search" placeholder="Search...")

      .uk-grid
        .uk-width-1-1
          .uk-grid
            .uk-width-1-5.bottombackground
            .uk-width-3-5
              .uk-grid
                .uk-width-1-2
                  p We're making one aspect of life easier for parents of multiples
                  img(src="img/owl_bright_blue_32.png") 
                  p buying and selling gently used sets of clothes!
                  img(src="img/left_2_shop_now.png")
                  img.tree(src="img/tree.png")

                .uk-width-1-2
                  ul.list__images
                    li.babies
                      img(src="/img/twins.jpg")
                    li
                      img(src="/img/triplets.jpg")
                    li
                      img(src="/img/quads.jpg")
              .uk-grid
                .uk-width-1-1
                  img(src="img/dotted_line_44x9.png")
                  img(src="img/dotted_line_44x9.png")
                  img(src="img/dotted_line_44x9.png")
                  img(src="img/dotted_line_44x9.png")
                  img(src="img/dotted_line_44x9.png")
                  img(src="img/dotted_line_44x9.png")
                  img(src="img/dotted_line_44x9.png")
                  img(src="img/dotted_line_44x9.png")
                  img(src="img/dotted_line_44x9.png")
                  img(src="img/dotted_line_44x9.png")
                  img(src="img/dotted_line_44x9.png")
                  img(src="img/dotted_line_44x9.png")
                  img(src="img/dotted_line_44x9.png")
                  img(src="img/dotted_line_44x9.png")
                  img(src="img/dotted_line_44x9.png")
                  img(src="img/dotted_line_44x9.png")
                .uk-width-1-1
                  .uk-grid.social
                    uk.width-1-4.social__images
                      img(src="img/facebook_callout.png")
                    uk.width-1-4.social__images
                      img(src="img/twitter_callout.png")
                    uk.width-1-4.social__images
                      img(src="img/message_board_callout.png")
                    uk.width-1-4.social__images
                      img(src="img/special_offers_callout.png")
            .uk-width-1-5.bottombackground

      .uk-grid-preserve
        .uk-width-medium-1-2.footer
            ul
              li One
              li Two
              li Three
              li Four
              li Five
