doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title My Title
    link(rel="stylesheet" href="/vendor/uikit/css/uikit.min.css")
    link(rel="stylesheet" href="css/main.css")
    script(src="jquery.js")
    script(src="uikit.min.js")

  body
    // [if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]


    .uk-grid-preserve
      .uk-width-1-3.header
    
      .uk-width-1-3.header

      .uk-width-1-3.header

    .uk-grid
     .uk-width-1-1.nav
        ul 
          li Buy
          li Sell
          li How it Works
          li Links
          li Community
          li 
            input(type="search")

    .uk-grid-preserve
      .uk-width-1-3.main
